extends ./layouts/default

block title
  title 豆瓣首页

block content
  .container-fluid
    .col-12.col-md-3.col-xl-2.sidebar
      .collapse.cat-links
        .sidebar-item.active
          a.sidebar-link(href="/") Links
          ul.nav.sidebar-inner
            li.active.sidebar-inner-active
              a(href="/") Link1
            li.sidebar-inner-active
              a(href="/") Link2
    .col-12.col-md-9.col-xl-9.py-md-3.pl-md-5.content
      .row
        .col-md-6
          .card
            img.card-img-top(src="https://img1.doubanio.com/view/photo/l/public/p2512167797.webp", data-video="http://vt1.doubanio.com/201805110014/d9801e5bf3f94a2a0b1f4be35107f06b/view/movie/M/402300311.mp4")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新
        .col-md-6
          .card
            img.card-img-top(src="https://img1.doubanio.com/view/photo/l/public/p2512167797.webp", data-video="http://vt1.doubanio.com/201805110014/d9801e5bf3f94a2a0b1f4be35107f06b/view/movie/M/402300311.mp4")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新
      .row
        .col-md-6
          .card
            img.card-img-top(src="https://img1.doubanio.com/view/photo/l/public/p2512167797.webp", data-video="http://vt1.doubanio.com/201805110014/d9801e5bf3f94a2a0b1f4be35107f06b/view/movie/M/402300311.mp4")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新
        .col-md-6
          .card
            img.card-img-top(src="https://img1.doubanio.com/view/photo/l/public/p2512167797.webp", data-video="http://vt1.doubanio.com/201805110014/d9801e5bf3f94a2a0b1f4be35107f06b/view/movie/M/402300311.mp4")
            .card-body
              h4.card-title 这是电影标题
              p.card-desc 这是电影描述
            .card-footer
              small.text-muted 1天前更新
